#about {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;

    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 2% 10%;
        width: 100%;

        .info-container {

            h1 {
                font-weight: 700;
                font-size: 24px;
                margin-top: 2rem;
            }
    
            p {
                font-size: 16px;
                margin-top: 1rem;
                padding-right: 2rem;
            }

            a {
                color: #E05D2A !important;
            }
        
        }
    
        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
    
            .img {
                margin: 1rem;
                height: auto;
                width: 18rem;
            }
        }

        .role-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
    
            .role-img {
                width: auto;
                height: 8rem;
                margin: auto;
                padding-bottom: 2rem;
            }
    
            h2 {
                font-weight: 700;
                font-size: 18px;
                margin-top: 1rem;
                margin-bottom: 2rem;
                text-align: center;
            }   

            .skills {
                display: flex;
                flex-direction: column;
                align-items: center;

                .badge {
                    background-color: #FCEDE7;
                    width: auto;
                    height: 20px;
                    margin-right: 0.8rem;
                    margin-top: 1rem;
                    padding: 1rem;
                    border-radius: 50px;
            
            
                    p {
                        font-size: 14px;
                        font-weight: 700;
                        color: #E05D2A;
                        text-align: center;
                        vertical-align: middle;
                        line-height: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #about {

        .content-container {
            flex-direction: column;

            .info-container {

                h1 {
                    font-size: 20px;
                    margin-top: 1rem;
                }
        
                p {
                    font-size: 14px;
                    padding-right: 0rem;
                }
            
            }

            .img-container {
        
                .img {
                    width: 60vw;
                }
            }

            .role-container {

                .role-img {
                    width: 8rem;
                }

                h2 {
                    font-size: 16px;
                }

                .skills {
                    .badge {
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}