.about {
  color: #FAFAFA;
}

.about-row {
  align-items: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.pic-col {
  display: flex;
  align-items: center;
}

.pic {
  width: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation:slideinleft 1s forwards;
}

/* .about-title {
  color: #4D4D4D;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 1rem;
  text-align: left;
  animation: slideinright 1s forwards;
} */

.about-glass {
  background: rgba( 255, 255, 255, 0.2);
  box-shadow: 0 10px 30px 0 rgba( 31, 38, 135, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 20px;
  width: 30vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-duration: 1000ms;
  animation-name: fadeIn;
}

.about-text {
  font-size: 20px;
  text-align: left;
  vertical-align: auto;
  animation: slideinright 1s forwards;
  padding: 3rem;
}

@keyframes slideinleft{
  0% {transform: translateX(-50%); opacity: 0;}
  100% {transform: translateX(0%); opacity: 1;}
}

@keyframes slideinright {
  0% {transform: translateX(50%); opacity: 0; }
  100% {transform: translateX(0%);  opacity: 1;}
}

@media (max-width: 991px) {
  .about-row {
    flex-direction: column;
  }
  .pic-col {
      width: 100vw;
  }
  .about-title {
      text-align: center;
  }
  .text-col {
    width: 100vw;
    text-align: center;
    padding-top: 3em;
  }
  .about-glass {
    width: 80%;
  }
  .about-text {
    font-size: 12px;
  }
}