#contact {
  position: relative;
  height: 300px;
  background-color: #69AC78;
  color: #FAFAFA;
  text-align: center;

}
#contact h1 {
  font-size: 36px;
  font-weight: 700;
  padding-top: 1em;
}
#contact h2 {
  font-size: 20px;
}