#contact {
  position: relative;
  color: #4D4D4D;
  text-align: center;
}

.contact-me {
  font-size: 28px;
  font-weight: 600;
  padding-top: 1em;
}

.socials {
  margin: 2rem;
}

.copyright {
  padding-bottom: 2rem;
}