#contact {
    width: 100%;
    min-height: 25vh;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-top: 3rem;
    }

    h3 {
        font-size: 18px;
        text-align: center;
        margin: 2rem 0rem;
    }

    .mail-icon {
        color: #E05D2A;
        width: 3rem;
        margin-bottom: 2px;
        &:hover {
            transform: translateY(2px);
        }
    }

    .socials {
        margin: auto;

        .icon {
            margin: 2rem;
            height: 50px;
            width: auto;
            color: #E05D2A;
            &:hover {
                transform: translateY(2px);
            }
        }
    }

    .footer {
        width: 100%;
        padding: 1rem 3rem;

        p {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 600px) {
    #contact {

        h1 {
            font-size: 20px;
        }

        h3 {
            font-size: 16px;
        }

        .socials {

            .icon {
                margin: 1rem;
                height: 40px;
            }
        }

        .footer {

            p {
                font-size: 12px;
                text-align: center;
                margin-top: 1rem;
            }
        }
    }
}