#contact {
    width: 100%;
    min-height: 25vh;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-top: 3rem;
    }

    h3 {
        font-size: 18px;
        text-align: center;
        margin: 2rem 0rem;
    }

    .socials {
        margin: auto;

        .icon {
            margin: 2rem;
            height: 50px;
            width: auto;
            &:hover {
                transform: translateY(2px);
            }
        }
    }

    .footer {
        width: 100%;
        padding: 1rem 3rem;

        p {
            font-size: 14px;
            font-weight: 400;
        }
    }
}