#contact {
    width: 100%;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-top: 3rem;
    }

    .badge {
        background-color: #FCEDE7;
        width: auto;
        height: 20px;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding: 1.5rem;
        border-radius: 50px;

        .mail-icon {
            color: #E05D2A;
            margin-bottom: 2px;
            margin-right: 0.8rem;
            height: 25px;
            width: auto;
            &:hover {
                transform: translateY(2px);
            }
        }

        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #E05D2A;
            text-align: center;
            vertical-align: middle;
            line-height: 0px;
            margin-top: -12px;
        }
    }

    .socials {
        margin: auto;

        .icon {
            margin: 2rem;
            height: 50px;
            width: auto;
            color: #E05D2A;
            &:hover {
                transform: translateY(2px) !important;
            }
        }
    }

    .arrow-container {
        margin: auto;
        background-color: #FCEDE7;
        border-radius: 50%;
        margin-top: 1rem;
        &:hover {
            transform: translateY(3px) !important;
            cursor: pointer;
        }

        .arrow {
            color: #E05D2A;
            padding: 5px;
        }
    }

    .footer {
        width: 100%;
        padding: 1rem 3rem;

        p {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 600px) {
    #contact {

        h1 {
            font-size: 20px;
        }

        .badge {

            .mail-icon {
                height: 20px;
            }

            h3 {
                font-size: 14px;
                margin-top: -10px;
            }

        }

        .socials {

            .icon {
                margin: 1rem;
                height: 40px;
            }
        }

        .footer {

            p {
                font-size: 12px;
                text-align: center;
                margin-top: 1rem;
            }
        }
    }
}