#cover {
  color: #FAFAFA;
}

.cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 90vh;
  width: 90vw;
}

.glass {
  background: rgba( 255, 255, 255, 0.2);
  box-shadow: 0 10px 30px 0 rgba( 31, 38, 135, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 20px;
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-duration: 1000ms;
  animation-name: fadeIn;
}

.cover-text {
  padding: 1rem;
}

.intro-title {
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  animation-duration: 2000ms;
  animation-name: fadeIn;
}

.intro-subtitle {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  padding: 1rem 0rem 5rem 0rem;
  width: 60%;
  margin: auto;
  animation-duration: 3000ms;
  animation-name: fadeIn;
}

.socials {
  text-align: center;
}

.social-icon {
  width: 70px;
  height: auto;
  padding: 15px;
  margin-left: 1vw;
  margin-right: 1vw;
  animation-duration: 3000ms;
  animation-name: fadeIn;
  font-weight: 400;
  color: #FAFAFA;
}

.social-icon:hover {
  box-shadow: 0 3px 3px 0 rgba( 31, 38, 135, 0.2) inset;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 50%;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media (max-width: 768px) {
  .intro-title {
    font-size: 42px;
  }
  .intro-subtitle {
    font-size: 18px;
    width: 80%;
    padding: 1rem 0rem 2rem 0rem;
  }
  .social-icon {
    width: 60px;
  }
}