#cover {
    width: 100%;
    min-height: 90vh;

    .content-container {
        padding: 10% 15%;
        width: 100%;
    }

    .info-container {

        h1 {
            font-weight: 700;
            font-size: 48px;
            margin-top: 3rem;
        }
    
        h2 {
            font-weight: 700;
            font-size: 36px;
            margin-top: 1rem;
        }
    
        h3 {
            font-weight: 600;
            font-size: 18px;
            max-width: 22rem;
            line-height: 26px;
        }
    
        .contact-btn {
            font-size: 14px;
            font-weight: 700;
            background-color: #E05D2A;
            border: 0;
            border-radius: 15px;
            margin: 2rem 0rem;
            padding: 0.8rem 1rem;
            width: 8rem;
            transition: 0.5s;
            &:hover {
                background-color: white;
                box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px #E05D2A, 0px 0px 0px 10px white, 0px 0px 0px 10.5px #E05D2A;
                color: #E05D2A;
                transition: 0.5s;
            }
            &:focus {
                box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px #E05D2A, 0px 0px 0px 10px white, 0px 0px 0px 10.5px #E05D2A;
            }
        }
    }

    .img-container {

        .img {
            height: auto;
            width: 25rem;
            margin-left: 5rem;
        }
    }
}

@media screen and (max-width: 600px) {
    #cover {

        .content-container {
            padding: 5% 10%;
        }

        .info-container {

            h1 {
                font-size: 42px;
            }

            h2 {
                font-size: 32px;
            }

            h3 {
                font-size: 16px;
            }
        }

        .img-container {
    
            .img {
                width: 60vw;
                margin-top: 1rem;
                margin-left: 1rem;
            }
        }
    }
}