#experience {
  color: #FAFAFA;
  margin-bottom: 5rem;
}

.jobs-glass {
  background: rgba( 255, 255, 255, 0.2);
  box-shadow: 0 10px 30px 0 rgba( 31, 38, 135, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 20px;
  width: 28vw;
  height: 70vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-duration: 1000ms;
  animation-name: fadeIn;
  padding: 3rem;
}

.toolbox-glass {
  background: rgba( 255, 255, 255, 0.2);
  box-shadow: 0 10px 30px 0 rgba( 31, 38, 135, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 20px;
  width: 28vw;
  height: 70vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-duration: 1000ms;
  animation-name: fadeIn;
}

.company {
  font-size: 24px;
  font-weight: 500;
}

.company a {
  color: #FAFAFA;
}

.company a:hover {
  color: #FAFAFA;
}

.years {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  color: #f5f5f5;
  padding-top: 1rem;
}

.role {
  font-size: 20px;
  padding-bottom: 1rem;
}

.toolbox-title {
  font-size: 24px;
  font-weight: 500;
}

.icon {
  height: 60px;
  width: auto;
}