.navbar {
  height: 7vh;
  width: 40vw;
  background: rgba( 255, 255, 255, 0.2);
  box-shadow: 0 10px 30px 0 rgba( 31, 38, 135, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 0px 0px 50px 50px;
  margin: auto;
  top: 0;
  overflow: hidden;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.navBarLink {
  margin: 1.5vw;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #FAFAFA !important;
}

.navBarLink:hover {
  box-shadow: 0 5px 5px 0 rgba( 31, 38, 135, 0.2) inset;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 20px;
}

@keyframes slideInFromTop {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .navbar {
    visibility: hidden;
  }
}
  