#projects {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-top: 3rem;
    }

    .project-container {
        margin: auto;
        display: flex;
        flex-direction: column;

        .project-row {
            margin: auto;
            display: flex;

            .project {
                margin: auto;
                display: flex;
                
                .project-img {
                    height: 400px;
                    width: 500px;
                    margin: auto;
                    &:hover {
                        transform: translateY(3px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #projects {

        h1 {
            font-size: 20px;
        }

        .project-container {
    
            .project-row {
    
                .project {

                    
                    .project-img {
                        height: 200px;
                        width: 250px;
                    }
                }
            }
        }
    }
}