#work {
  width: 100vw;
  margin-bottom: 5rem;
}

.project-name {
  font-weight: 600;
  font-size: 28px;
  color: #4D4D4D;
}

.project-description {
  font-weight: 500;
  font-size: 20px;
  color: #AFAFAF;
}

.project-glass {
  background: rgba( 255, 255, 255, 0.2);
  box-shadow: 0 10px 30px 0 rgba( 31, 38, 135, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 20px;
  width: 28vw;
  height: 40vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-duration: 1000ms;
  animation-name: fadeIn;
  padding: 3rem;
}
