.App {
  font-family: 'Gaegu', sans-serif;
  background-color: #E2DED8;
  color: #9F988C;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;

  .info {
    text-align: center;
    margin: 1rem;
    user-select: none;

    h1 {
      font-weight: bold;
      font-size: 32px;
    }
  
    p {
      font-size: 24px;
    }
  }
}
